@font-face {
  font-family: "iconfont"; /* Project id 4020667 */
  src: url('iconfont.woff2?t=1682489673307') format('woff2'),
       url('iconfont.woff?t=1682489673307') format('woff'),
       url('iconfont.ttf?t=1682489673307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toupiao:before {
  content: "\e610";
}

.icon-pisa:before {
  content: "\e620";
}

.icon-dianzan:before {
  content: "\e630";
}

.icon-zhuanlan:before {
  content: "\e62f";
}

.icon-pinzhishangpinhuichang:before {
  content: "\e87b";
}

.icon-kaiguan:before {
  content: "\e61f";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-fenlei:before {
  content: "\e671";
}

.icon-xinxi-yuan:before {
  content: "\e7cc";
}

.icon-kaiguan1:before {
  content: "\eaf7";
}

.icon-xin:before {
  content: "\e945";
}

.icon-pinpai:before {
  content: "\e606";
}

.icon-zhuantiweihu:before {
  content: "\e781";
}

.icon-shuzhuangtu:before {
  content: "\e7d4";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-wifi:before {
  content: "\e61c";
}

.icon-yuyin:before {
  content: "\e69f";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-lingdang:before {
  content: "\e61d";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-duihuakuang1:before {
  content: "\e61e";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-icon-test:before {
  content: "\e603";
}

.icon-xingxing:before {
  content: "\e80d";
}

.icon-lanmuguanli:before {
  content: "\e65c";
}

.icon-medium-m:before {
  content: "\e702";
}

.icon-handbag:before {
  content: "\e8bb";
}

